* { max-width: 100%!important; margin:0; padding:0; box-sizing: border-box!important; -webkit-box-sizing: border-box!important; word-wrap: break-word!important; }
html { -ms-text-size-adjust:100%; -webkit-text-size-adjust:100%; line-height:1.6 }
body { -webkit-touch-callout:none; font-size:16px; font-family:"Helvetica Neue", Helvetica, "Microsoft YaHei", "??????", Arial, sans-serif; background-color:#f3f3f3; line-height:inherit }
h1, h2, h3, h4, h5, h6 { font-weight:400; font-size:16px }
* { margin:0; padding:0; font-style:normal }
a { color:#607fa6; text-decoration:none }
p { clear:both; margin:0 0; font-size:16px; min-height:1em; white-space: normal; }
img {
*zoom:1; max-width:100%; *max-width:96%;
height:auto !important; }
.Content-title { padding-bottom: 10px; margin-bottom: 14px; line-height:1.4; font-weight:400; font-size:24px }
.msg-content { overflow:hidden; color:#3e3e3e; position: relative; }
.msg-content * { max-width:100%!important; box-sizing:border-box!important; -webkit-box-sizing:border-box!important; word-wrap:break-word!important }
.msg-content p { clear:both; min-height:1em; }
.msg-content em { font-style:italic }
.msg-content fieldset { min-width:0 }
.msg-content .list-paddingleft-2 { padding-left:30px }
.msg-content blockquote { margin:0; padding-left:10px; border-left:3px solid #dbdbdb }
/* fix Firefox - max-width images not working within fieldset */
fieldset { border:0 none; }
fieldset img { width: 100%; max-width: -moz-fit-content; max-width: -webkit-fit-content; }
.135page { position: relative; }
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.bdshare-slide-button-box { position:fixed; }
.bigtxt .msg-content, .bigtxt .msg-content * { font-size:19px !important; }
.smalltxt .msg-content, .smalltxt .msg-content * { font-size:14px !important; }
#wxmsg-normal-text, #wxmsg-small-text, #wxmsg-big-text { cursor:pointer; }
#wxmsg-normal-text { color:#607fa6; }
.bigtxt #wxmsg-big-text { color:#607fa6; }
.smalltxt #wxmsg-small-text { color:#607fa6; }
.bigtxt #wxmsg-normal-text, .smalltxt #wxmsg-normal-text { color:#3e3e3e; }
.qr_code_pc { position:absolute; right:-185px; top:20px; text-align:center; background:#FFF; padding:16px; border: 1px solid #d9dadc; }
.qr_code_pc_img { width:135px; }
#main-content { padding:0px; }
.btcode { width: 100%; background: #2680d8; color: #FFF; font-size: 0.9em; line-height: 3em; text-align: center; position: fixed; bottom: 0; max-width: 640px }
.quote p { font-size:14px }
.quote p.info { color:#666666 }
.quote .nickname { color:#666666 }
.fl { float:left; font-size:14px; }
.fr { float:right }
.clear { clear:both; display:block; overflow:hidden; visibility:hidden; width:0; height:0 }
.reply_box { color:#000000; font-family:STHeiti Light; margin-bottom:10px }
.quote { position:relative; padding:0 10px; background-color:#eeeeee; border:1px solid #dddddd; -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; border-radius:4px }
.detaillist { margin: 20px 5px 24px; text-align: left; }
.detaillist .detail { border-top:1px solid #ddd; min-height:40px; line-height:20px }
.detaillist .detail .title { position:relative; line-height:24px; padding:6px 10px 6px 10px; font-size:14px; color:#999999 }
.detaillist .detail .title span { font-size:12px; line-height:24px; display:inline-block; margin-left:5px }
.detaillist .detail .title .arr { background:#aaa; border-radius:3px; padding:0 8px; color:#fff; font-size:14px }
.detaillist .detail .title .louzhu { background:#3383e1 }
.detaillist .detail .content_box .content { line-height:24px; display:block; color:#333; font-size:16px; padding: 0 10px; word-break:break-all }
.detaillist .detail .content_box .content .quote_reply { background:#f2f2f2; border:#e7e7e7 1px solid; border-radius:3px; font-size:14px; line-height:24px; margin:0 0 10px; padding:10px }
.detaillist .detail .content_box .content .quote_reply span { color:#999; margin-bottom:5px; display:inline-block }
.detaillist .detail .content_box small { margin:8px 0px 8px 10px; height:20px; line-height:20px; color:#999 }
.detaillist .detail .content_box span { line-height:22px }
.detaillist .detail .content_box span a { color:#3360a6; display:inline-block; line-height:22px; text-align:center }
.detaillist .detail .content_box span a i { width:15px; height:15px; display:inline-block; margin:0 5px 0 0; position:relative; top:4px }
.detaillist .detail .content_box span a .huifu { background-position:-40px -20px }
.detaillist .detail .content_box .post_handle { padding:0 10px 15px }
.detaillist .detail .content_box .post_handle .child_col { display:block; -moz-box-flex:1; -webkit-box-flex:1; width:48% }
.detaillist .detail .content_box .post_handle .reply, .detaillist .detail .content_box .post_handle .praise { border-radius:4px; display:block; font-size:20px; line-height:43px; height:43px; text-align:center }
.detaillist .detail .content_box .post_handle .reply i, .detaillist .detail .content_box .post_handle .praise i { display:inline-block; width:21px; height:18px; position:relative; top:2px; margin-right:5px }
.detaillist .detail .content_box .post_handle .reply { border:1px solid #BFDFFF; background-color:#F0F8FF; color:#398CE0 }
.detaillist .detail .content_box .post_handle .reply .lz_huifu { background-position:0px -695px }
.detaillist .detail .content_box .post_handle .praise { border:1px solid #FFBFBF; background-color:#FFECEC; color:#F1474A }
.detaillist .detail .content_box .post_handle .praise .lz_zang { background-position:-40px -695px }
.btcode { width: 100%; background: #467efa; color: #FFF; font-size: 1.2em; line-height: 3em; text-align: center; position: fixed; bottom: 0; max-width: 640px ;font-weight:bold; }



.article-container .article__header-container{position: relative;}
 a.avatar-link{display: block;float: left;}
.subtitle{padding: 1px 0 0 8px;font-size: 0;float: left;}
.name{line-height: 16px;font-size: 12px;margin-bottom: 4px;}
.name a{color: #406599;}
.original{border: 1px solid #999;font-size: 10px;border-radius: 4px;line-height: 14px;width: 30px;color: #505050;text-align: center;margin-right: 5px;}
.avatar {height: 32px;width: 32px;border: none;border-radius: 32px;}
.pgc-bar-top{margin-top: 12px;}
.tx{padding-left: 5px;width: 40px;margin-bottom: -3px;}